.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-top: 2em;
}

.mybtn {
  width: 20%;
}

@media screen and (max-width: 768px) {
  .mybtn {
    margin-top: 1em;
    width: 100%;
  }

  .container {
    width: 100%;
  }
}
