.wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-container {
  width: 100%;
  height: auto;
  border-bottom: 1px solid whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
}

.right-nav {
  display: flex;
  flex-direction: row;
}

.nav-links {
  font-size: 1.2em;
  color: black;
  font-weight: 500;
  margin: auto 1em;
  text-decoration: none;
}

.nav-links:hover {
  opacity: 50%;
}

.logo {
  width: 35%;
}

/*prod*/

h1 {
  padding: 30px;
  border-bottom: 1px solid #e4e4e4;
}

@media (max-width: 768px) {
  h1 {
    text-align: center;
    padding: 10px;
  }
}

.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.products-container .product-card {
  width: 300px;
  height: auto;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  box-shadow: 5px 5px 4px #e4e4e4;
  position: relative;
}

.products-container .product-card .product-img {
  width: 100%;
}

.products-container .product-card .product-img img {
  width: 100%;
  height: 100%;
}

.products-container .product-card .product-name {
  display: block;
  text-transform: uppercase;
  width: 100%;
  color: #6b9b41;
  margin-top: 0.5em;
  font-size: 2em;
}

.products-container .product-card .product-price {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.5em;
}

.products-container .product-card .addcart-btn {
  background-color: #6b9b41;
  color: #fff;
  border: hidden;
  cursor: pointer;
  width: 100%;
  padding: 10px 14px;
  margin-top: 5px;
  margin-bottom: 2px;
  outline: none;
}
