.wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 2em;
  background-color: #272727;
  color: white;
}

.nav-left {
  width: 5%;
}

.nav-left img {
  width: 150%;
}

.nav-right {
  display: flex;
  flex-direction: row;
}
